.header{
    position: absolute;
    height: 150px;
    
    width: 75%;
    left: 200px;
    
}
.header h1{
    text-align: right;
    margin-right: 15px;
}
.header p{
    text-align: right;
    margin-right: 15px;
}
.nav-left{
    position: absolute;
    
    height: 100%;
}
.nav-left ul{
    padding-left: 0;
    position: fixed;
    float: left;
    height: 100%;
    margin-top: -16px;
    margin-left: -8px;
    background-color: cornsilk;
}
hr{
    width: 70;
}
.nav-item{
    float: bottom;
    width: 100%;
}
.nav-left ul li{
    padding: 10px;
}
.container{
    position: absolute;
    display: block;
    width: 75%;
    height: 100%;
    top: 150px;
    margin-left: 200px;
    
}
a:visited {
    color: rgb(0,0,238); /* Цвет посещенной ссылки */
   }
.help-item-text{
    width: 100%;
    
}
.help-item-cont{
    margin: 15px;
}
.help-item-cont img{
    text-align: center;
    margin: 0 100px;
}
.nav-left ul li:hover{
    transition: 3;
    background-color: lightgrey;
}